@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

/* .videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: none;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 450px) {

    
      
       
}
 */

.background {
  font-family: "Inter", sans-serif;
  display: flex;
  text-align: center;
  color: #666666;
  font-weight: thin;
  flex-direction: column-reverse;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}